/*
DATOS
CODIGO COLOR ROJO DEL LOGO:
#c21515
*/
*{
    margin:0;
    padding:0;
    font-family: SansSerif;
}
.contenedor{ /*modificado width y height*/
    margin: auto;
    width: auto;
    height: auto;
    overflow: hidden;
}
header, .barra{ /*barra superior(header+nav)*/
    top: 0;
    /*position:fixed;*/
    background-color: #FFFFFF;
    z-index: 1;
    width: 100%;
    height: 80px;
}

.barra img{ /*imagen logo GXzone*/
    height: 100%;
    margin-left: 2%;
}

#frase1{
    width: 50%;
    margin-left: 25%;
    margin-top: 3%;
}
#frase2{
    width: 50%;
    margin-left: 25%;
    margin-top: 13%;
}
/*/////////////////////////////////////////*/
/*INICIO.PHP
/////////////////////////////////////////////
NAV*/
/*/////////////////////////////////////////*/
.nav{ /*parte referida a la navegacion, zona de la derecha*/
    float: right;
    height: 100%;
    width: 850px;
}
#logoHeader{ /*el logo de GXzone*/
    height: 80%;
    margin: 5px;
}
#logoUsuario { /*el logo de usuario*/
    height: 15px;
    margin-right: 10px;
    margin-top: 5px;
    display: inline-block;
    color: #000000;
    text-align: center;
    font-size: 20px;
}
#letrasNav{
    height: 80%;
    margin-left: 2%;
    margin-bottom: 0.5%;
}
#usuario{ /*la caja de letras + logo de "hola X"*/
    width: 130px;
    margin-top: -3px;
}
#usuario:hover{ /*la caja de letras + logo de "hola X" se verá con el cursor pointer*/
    cursor: pointer;
}
.liNav{ /*elementos de la lista del nav*/
    float: left;
    margin-left: 0;
    list-style: none;
    font-size: 28px;
}

.liNav a{ /*Cada palabra del nav*/
    display: inline-block;
    color: #000000;
    text-align: center;
    padding: 20px 14px;
    text-decoration: none;
    font-size: 20px;
}

.nav a:hover{ /*al pasar el raton por encima de las opciones del nav*/
    color: red;
}

.liNav { /*desplegable hacia abajo del nav*/
    display: inline-block;
    float: left;
    padding: .7%;
    margin-left: 4%;
}

.liNav-content { /*contenido del desplegable hacia abajo del nav*/
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: #FFFFFF;
    z-index: 0;
}

.liNav-content a { /*las que salen al desplegarse referido a las letras*/
    color: #000000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.liNav:hover .liNav-content {
    display: block;
}

/*/////////////////////////////////////////*/
/*INDEX.PHP
/////////////////////////////////////////////
SECTION*/
/*/////////////////////////////////////////*/
.fotoEsports{
    height: auto;
    width: auto;
}
.fotoEsports img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
/*/////////////////////////////////////////*/
/*INICIO.PHP*/
/*/////////////////////////////////////////*/
.contenedorFormLogin{ /*div donde están las 2 fotos y el formulario*/
    /*cojo estas medidas porque son las medidas para que el mando no se achate*/
    height: 473px;
    width: 644px;
    margin: auto; /*centrado en el medio de la pantalla*/
    margin-top: 10%; /*con margen respecto de arriba*/
}
#formLogin{ /*formulario*/
    height: 100%;
    margin-top: 10px;
}
.contenedorFormLogin #mando{
    /*tamaño del mando*/
    height: 523px;
    width: 694px;
    /*al usar position absolute, coloco la foto donde quiera*/
    position: absolute;
    margin-top: -32%;
    margin-left: -1.6%;
    /*z-index = -1 para que se vea por debajo del form*/
    z-index: -1;
}
.contenedorFormLogin #letras{ /*logo gxzone*/
    margin-top: -16%;
    margin-left: 12%;
}
#formLogin ul{
    list-style: none; /*quita los puntos que se pone delante de cada palabra*/
    padding-top: 11%; /*padding respecto al form*/
    padding-left: 26%;
    z-index: 1; /*para que se coloque por encima de la foto*/
}
#formLogin li{
    margin-bottom: 30px; /*separación entre las palabras email y constrseña*/
}
#formLogin label{
    font-weight: bold; /*pongo las palabras email y contraseña en negrita*/
    font-size: 22px; /*aumento la fuente de tamaño*/
}
#formLogin input{ /*cajas donde se escribe */
    width: 200px;
    height: 30px;
    margin-left: 2%; /*margen respecto del label*/
    border: 2px solid #000000;
    font-size: 20px; /*tamaño de la fuente del texto que se escriba*/
    margin-top: 2%;
}
.botones{ /*div donde están metidos los 2 botones*/
    margin-left: -23%;
    margin-top: -1%;
    height: 50px;
}
.botones a{
    padding: 0;
}
.botones #botonEntrarLogin, .botones #botonRegistrarse{
    float: left;
    background-color: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 25px; /*bordes redondos*/
    height: 40px; /*tamaño de los botones*/
    font-size: 22px; /*tamaño de las palabras "entrar" e "iniciar sesion"*/
    cursor: pointer; /*el curor de la mano*/
}
.botones #botonEntrarLogin{
    width: 100px;
    margin-left: 110px; /*margen izquierdo para que esté mas o menos centrado*/
}
.botones #botonRegistrarse{
    width: 150px;
    margin-left: 70px; /*margen izquierdo para que esté mas o menos centrado*/
}
/*/////////////////////////////////////////*/
/*INICIO.PHP
REGISTRO*/
/*/////////////////////////////////////////*/
#mandoRegistro{
    /*tamaño del mando*/
    height: 523px;
    width: 694px;
    /*al usar position absolute, coloco la foto donde quiera*/
    position: absolute;
    margin-top: -32%;
    margin-left: -1.6%;
    /*z-index = -1 para que se vea por debajo del form*/
    z-index: -1;
}
#formRegistro ul{
    list-style: none; /*quita los puntos que se pone delante de cada palabra*/
    padding-top: 10%; /*padding respecto al form*/
    padding-left: 26%;
    z-index: 1; /*para que se coloque por encima de la foto*/
}
#formRegistro li{
    margin-bottom: 25px; /*separación entre las palabras email y constrseña*/
}
#formRegistro label{
    font-weight: bold; /*pongo las palabras email y contraseña en negrita*/
    font-size: 22px; /*aumento la fuente de tamaño*/
}
#formRegistro input{ /*cajas donde se escribe*/
    width: 200px;
    height: 30px;
    margin-left: 2%; /*margen respecto del label*/
    border: 2px solid #000000;
    font-size: 20px; /*tamaño de la fuente del texto que se escriba*/
}
#formRegistro{
    height: 100%;
    margin-top: 10px;
}
.botonesFormRegistro{ /*div donde están los  botones*/
    margin-left: -110px;
    height: 50px;
}
.botonesFormRegistro a{
    padding: 0;
}
.botonesFormRegistro #botonLogin, .botonesFormRegistro #botonEntrar{
    float: left;
    background-color: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 25px; /*bordes redondos*/
    height: 40px; /*tamaño de los botones*/
    font-size: 22px; /*tamaño de las palabras "entrar" e "iniciar sesion"*/
    cursor: pointer; /*el curor de la mano*/
}
.botonesFormRegistro #botonEntrar{
     width: 100px;
     margin-left: 110px; /*margen izquierdo para que esté mas o menos centrado*/
}
.botonesFormRegistro #botonLogin{
    width: 150px;
    margin-left: 70px; /*margen izquierdo para que esté mas o menos centrado*/
}

/*/////////////////////////////////////////
listarNoticias.PHP
//////////////////////////////////////////*/
h1{
    font-size: 36px;
    margin: 1% 0 1% 0;
}
/*/////////////////////////////////////////
listarNoticias.PHP
///////////////////////////////////////////
BUSCADOR
///////////////////////////////////////////*/
#formBuscador{
    margin-left: .5%;
}
#formBuscador #cajaBuscar {
    height: 25px;
    width: 160px;
    border: 1px solid #000000;
}
#formBuscador input{
    border: 1px solid black;
}
/*/////////////////////////////////////////
formularioNoticias.PHP
///////////////////////////////////////////
INGRESAR NOTICIA
//////////////////////////////////////////*/
.formularioNoticias{ /*div en el que se encuentra el formulario*/
    margin: auto; /*centrado en el medio de la pantalla*/
    margin-top: 3%;
    width: 600px;
    border-radius: 35px;
    background-color: rgba(194, 21, 21, 0.92); /*color del logo al 87% de opacidad*/
    height: 450px;
}
#formNoticias{ /*el formulario*/
    height: 100%; /*se adaptará al div*/
}
#insertarNoticia{ /*el titulo h1*/
    padding: 25px;
    margin-left: 20px;
}
#formNoticias li{
    list-style-type: none;
    padding: 20px; /*separacion entre elementos de la lista*/
    margin-left: 30px; /*lo separo un poco del lateral izquierdo del form*/
}
#formNoticias label{
    font-size: 26px;
}
#titular{ /*el textbox del titular*/
    margin-left: 10px;
    height: 25px;
    width: 220px;
    font-size: 20px;
}
#descripcion{ /*el textbox de la descripción*/
    margin-left: 10px;
    width: 300px;
    height: 50px;
    font-size: 18px;
}
#foto{
    margin-top: 20px;
    font-size: 20px;
}
#botonGuardarNoticia{
    height: 35px;
    width: 90px;
    font-size: 18px;
    border-radius: 35px;
    border: 1.5px solid #000000;
    background-color: #FFFFFF;
    cursor: pointer;
}
#fondoNoticias{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 90%;
}
/*/////////////////////////////////////////
listarNoticias.php
///////////////////////////////////////////
ListaNoticias.PHP
///////////////////////////////////////////*/
.tablaListarNoticias table{
    margin: 1% .5% 0 .5%;
    margin-bottom: 50px;
    border: 2px solid #000000;
    border-collapse: collapse; /*importante para que se junten las celdas*/
}
.tablaListarNoticias td{
    border-bottom: 2px solid black;
    padding-left: 10px;
    padding-right: 10px;
}
.tablaListarNoticias td a{
    margin-left: 10px;
}
.tablaListarNoticias th{
    background-color: #C21515;
    font-weight: bold;
    height: 25px;
    padding: 1px;
}
#V_E_B{
    color: black;
    text-decoration: none;
    margin-left: 5px;
}
#botonBuscador{
    height: 27px;
    width: 50px;
}
/*/////////////////////////////////////////
verNoticia.PHP
///////////////////////////////////////////
Noticia.PHP
///////////////////////////////////////////*/
.tablaVerNoticias table{
    margin: 1% .5% 0 .5%;
    margin-bottom: 50px;
    border: 2px solid #000000;
    border-collapse: collapse; /*importante para que se junten las celdas*/
}
.tablaVerNoticias th{
    background-color: #C21515;
    font-weight: bold;
    height: 25px;
    padding: 1px;
}
.tablaVerNoticias td{
    border-bottom: 2px solid black;
    padding-left: 10px;
    padding-right: 10px;
}
.tablaVerNoticias td a{
    margin-left: 10px;
}
.tablaVerNoticias img{
    padding: 10px;
}
/*/////////////////////////////////////////
listarNoticias.php
///////////////////////////////////////////
ListaNoticias.PHP
///////////////////////////////////////////*/
.tablaListarVideos table{
    margin: 1% .5% 0 .5%;
    margin-bottom: 50px;
    border: 2px solid #000000;
    border-collapse: collapse; /*importante para que se junten las celdas*/
}
.tablaListarVideos td{
    border-bottom: 2px solid black;
    padding-left: 10px;
    padding-right: 10px;
}
.tablaListarVideos td a{
    margin-left: 10px;
}
.tablaListarVideos th{
    background-color: #C21515;
    font-weight: bold;
    height: 25px;
    padding: 1px;
}
.tablaListarVideos video{
    padding: 5px;
}
/*/////////////////////////////////////////
listarVideos.php
///////////////////////////////////////////
verVideos.PHP
///////////////////////////////////////////*/
.tablaVerVideos table{
    margin:auto;
    margin-bottom: 50px;
    border: 2px solid #000000;
    border-collapse: collapse; /*importante para que se junten las celdas*/
}
.tablaVerVideos th{
    background-color: #C21515;
    font-weight: bold;
    height: 25px;
    padding: 1px;
}
.tablaVerVideos td{
    border-bottom: 2px solid black;
    padding-left: 10px;
    padding-right: 10px;
}
.tablaVerVideos td a{
    margin-left: 10px;
}
.tablaVerVideos video{
    padding: 10px;
}
/*/////////////////////////////////////////
formularioVideos.PHP
///////////////////////////////////////////
INGRESAR VIDEO
//////////////////////////////////////////*/
.formularioVideos{ /*div en el que se encuentra el formulario*/
    margin: auto; /*centrado en el medio de la pantalla*/
    margin-top: 3%;
    width: 600px;
    border-radius: 35px;
    background-color: rgba(194, 21, 21, 0.92); /*color del logo al 87% de opacidad*/
    height: 450px;
}
#formVideos{ /*el formulario*/
    height: 100%; /*se adaptará al div*/
}
#insertarVideos{ /*el titulo h1*/
    padding: 25px;
    margin-left: 20px;
}
#formVideos li{
    list-style-type: none;
    padding: 20px; /*separacion entre elementos de la lista*/
    margin-left: 30px; /*lo separo un poco del lateral izquierdo del form*/
}
#formVideos label{
    font-size: 26px;
}
#juego{ /*el textbox del titular*/
    margin-left: 10px;
    height: 25px;
    width: 220px;
    font-size: 20px;
}
#descripcion{ /*el textbox de la descripción*/
    margin-left: 10px;
    width: 300px;
    height: 50px;
    font-size: 18px;
}
#video{
    margin-top: 20px;
    font-size: 20px;
}
#botonGuardarVideo{
    height: 35px;
    width: 90px;
    font-size: 18px;
    border-radius: 35px;
    border: 1.5px solid #000000;
    background-color: #FFFFFF;
    cursor: pointer;
}

#fondoVideos{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 100%;
}
/*/////////////////////////////////////////
listarContactos.php
///////////////////////////////////////////
ListarContactos.php
//////////////////////////////////////////*/
.tablaContacto table{
    margin: auto;
    margin-bottom: 50px;
    border: 2px solid #000000;
    border-collapse: collapse; /*importante para que se junten las celdas*/
}
.tablaContacto td{
    border-bottom: 2px solid black;
    padding-left: 10px;
    padding-right: 10px;
}
.tablaContacto td a{
    margin-left: 10px;
    text-decoration: none;
    color: #000000;
}
.tablaContacto th{
    background-color: #C21515;
    font-weight: bold;
    height: 25px;
    padding: 1px;
}
.buscadorContactos #formBuscador{
    text-align: center;
    margin-bottom: 20px;
}
/*/////////////////////////////////////////
listarUsuarios.php
///////////////////////////////////////////
ListarUsuarios.php
//////////////////////////////////////////*/
.tablaUsuarios table{
    margin: auto;
    margin-bottom: 50px;
    border: 2px solid #000000;
    border-collapse: collapse; /*importante para que se junten las celdas*/
}
.tablaUsuarios td{
    border-bottom: 2px solid black;
    padding-left: 10px;
    padding-right: 10px;
}
.tablaUsuarios td a{
    margin-left: 10px;
}
.tablaUsuarios th{
    background-color: #C21515;
    font-weight: bold;
    height: 25px;
    padding: 1px;
}
.buscadorUsuarios #formBuscador{
    text-align: center;
    margin-bottom: 20px;
}
/*/////////////////////////////////////////
listarUsuarios.php
///////////////////////////////////////////
verUsuarios.php
//////////////////////////////////////////*/
.tablaVerUsuarios table{
    margin: auto;
    margin-bottom: 50px;
    border: 2px solid #000000;
    border-collapse: collapse; /*importante para que se junten las celdas*/
}
.tablaVerUsuarios td{
    border-bottom: 2px solid black;
    padding-left: 10px;
    padding-right: 10px;
}
.tablaVerUsuarios td a{
    margin-left: 10px;
}
.tablaVerUsuarios th{
    background-color: #C21515;
    font-weight: bold;
    height: 25px;
    padding: 1px;
}
/*/////////////////////////////////////////
listarUsuarios.php
///////////////////////////////////////////
registroPermisos.php
//////////////////////////////////////////*/
.formularioPermisos{
    text-align: center;
}
.formularioPermisos ul{
    margin-left: 45%;
}
.formularioPermisos li{
    float: left;
    list-style: none;
}
.formularioPermisos #inputPermiso{
    width: 30px;
}
#botonGuardarPermiso{
    margin-left: 20px;
    width: 60px;
    cursor: pointer;
}
/*/////////////////////////////////////////
formuarioContactos.php
///////////////////////////////////////////
registroPermisos.php
//////////////////////////////////////////*/
h3{
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 1%;
}
#Fcontacto{ /*div en el que se encuentra el formulario*/
    margin: auto; /*centrado en el medio de la pantalla*/
    margin-top: 3%;
    width: 600px;
    border-radius: 35px;
    background-color: rgba(194, 21, 21, 0.92); /*color del logo al 87% de opacidad*/
    height: 450px;
}
#Fcontacto{ /*el formulario*/
    height: 100%; /*se adaptará al div*/
}

#Fcontacto li{
    list-style-type: none;
    padding: 20px; /*separacion entre elementos de la lista*/
    margin-left: 30px; /*lo separo un poco del lateral izquierdo del form*/
}
#Fcontacto label{
    font-size: 26px;
}

#Fcontacto #mensaje{ /*el textbox de la descripción*/
    margin-left: 10px;
    width: 300px;
    height: 50px;
    font-size: 18px;
}
#Fcontacto #botonGuardarMensaje{
    height: 35px;
    width: 90px;
    font-size: 18px;
    border-radius: 35px;
    border: 1.5px solid #000000;
    background-color: #FFFFFF;
    cursor: pointer;
}



